.buttons {
  position: absolute;
}

.next,
.prev {
  position: fixed;
  margin-top: 339px;
  z-index: 9999;
}

.next, .prev:hover .circle {
  display: block;
}

.next {
  right: 20px;
}

.prev {
  left: 20px;
}

.circle {
  border-radius: 100px;
  background-color: aliceblue;
  opacity: 0.69;
  border-color: pink;
  width: 33px;
  height: 33px;
  cursor: pointer;
}

.circle:hover {
  color: pink;
}

.arrow-next,
.arrow-prev {
  position: fixed;
  border-right: 3px solid grey;
  border-bottom: 3px solid grey;
  opacity: 1;
  width: 9px;
  height: 9px;
}

.arrow-next {
  transform: rotate(-45deg);
  margin-top: 13px;
  margin-left: 12px;
}

.arrow-prev {
  transform: rotate(135deg);
  margin-top: 13px;
  margin-left: 12px;
}
