.menubar {
  width: 100%;
  position: fixed;
  height: 3vh;
  z-index: 1;
  background-color: aliceblue;
  opacity: 0.90;
  top: 0;
}

.menubar div {
  position: relative;
  top: 2px;
}

.name {
  margin-left: 45%;
}

div.blank {
  position: fixed;
  right: 0px;
}
